@use "_global" as *;
@use "_mixin" as *;

.mainHeader {
  //padding-top: 1em;
  //background-image: url("img/tech_img/mwesigwa-joel-1500.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  margin-bottom: 2em;
}
.landing {
  .title {
    padding-top: 3em;
    width: 100%;
    background-size: cover;
    background-position: top;
    text-align: center;
    text-shadow: 0px 0px 7px var(--darkModeBg);
    color: var(--txtChange);
    font-weight: 900;
    font-size: 1em;
    font-family: "Audiowide";
    letter-spacing: 2px;
  }
  .greeting {
    width: 100%;
    padding: 1em 0;
    text-align: center;
    font-size: .8em;
    font-family: "Audiowide";
    color: var(--txtChange);
    text-shadow: 0px 0px 3px var(--darkModeBg);
    letter-spacing: 2px;
  }
  .landingImg {
    display: block;
    margin: 1.5em auto;
    opacity: 0.8;
    width: calc(11vw + 11em);
    border-radius: 0.25em;
  }
}
.welcome {
  &__header {
    padding: 1em;
    line-height: 1.4;
    letter-spacing: 1px;
    //color: var(--darkModeTxtClr);
    margin: auto;
    width: 95%;
    max-width: 800px;
    //font-size: 1em;
    span {
      font-size: 1.5em;
      color: var(--txtChange);
      font-family: "Audiowide";
      text-shadow: 0px 0px 3px var(--darkModeBg);
      font-weight: 900;
      letter-spacing: 2px;
    }
  }
}
.featureHeader {
  
  //border: 2px solid var(--jsThemeClr);
  //background-image: url("img/backgrounds/header_background_2.png");
  
  .author {
    font-family: "The Nautigal";
    color: var(--white);
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 3px;
    //padding: .25em;
    text-shadow: 0px 0px 3px var(--black);
  }
  h2 {
    text-shadow: 0px 0px 5px var(--black);
    font-size: 1.75em;
    font-weight: 900;
    color: var(--secondaryTxt);
    letter-spacing: 4px;
  }
}
// Chapter contains all related projects
.chapter {
  padding-top: 2em;
  //padding-bottom: 20px;
  min-height: 350px;
  border-top: 3px solid var(--themeBdr);
  // Chapter Header is visable at all times
  &__header {
    @include darkMode;
  text-align: center;
  margin: auto;
  margin-top: 2em;
  padding: 1em 0;
  width: 95%;
  max-width: 600px;
  border-radius: 1rem;
  background-image: linear-gradient(
    to left top,
    var(--secondaryTxt),
    var(--secondaryClr)
  );
  background-size: cover;
  background-color: var(--themeBlk);
  margin-bottom: 2em;
  }
  &__summary {
    width: 700px;
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    //grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-evenly;
    //text-align: center;
    p {
      padding: 0.25em;
      font-size: 0.9em;
      line-height: 1.3;
      letter-spacing: 2px;
      color: Var(--black);
      span {
        color: red;
        font-weight: 600;
      }
    }
  }
}
// Sections are visable when the Show Button is clicked
.projects {
  max-width: 1200px;
  margin: auto;
  width: 95%;
  border: none;
  padding: 1rem;
}

.project {
  
  &__header {
    &__title {
      margin-top: 1.5em;
      text-align: center;
      //text-shadow: 0px 0px 5px var(--darkModeTxtClr);
      //background-color: var(--bgFilterDrk);
      letter-spacing: 2px;
      color: var(--txtChange);
      font-size: calc(1.5vw + 1em);
      //font-family: "Audiowide";
      font-weight: 700;
      margin-bottom: 0.25em;
    }
    &__credit {
      text-align: center;
      font-size: 12px;
      margin-bottom: 2em;
      span {
        color: var(--secondaryClr);
        text-shadow: none;
        font-size: 16px;
        font-family: "Audiowide";
      }
    }
    &__body {
      width: 95%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      justify-content: space-evenly;
      padding-top: 15px;
      //background-color: var(--bgFilter);
      margin-bottom: 3em;
      article {
        width: 275px;
        margin: auto;
        border: 1px solid var(--black);
        padding: 0.25rem;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 2px;
        color: Var(--black);
        background-color: var(--bgFilterTheme);
        border-radius: 0.5rem;
        h3 {
          color: orangered;
        }
        span {
          color: orangered;
          font-weight: 900;
          //text-shadow: 0px 0px 4px var(--black);
        }
      }
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    background-color: var(--bgFilterBlkDrk);
    margin: auto;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0.25rem 0.15rem;

    a {
      text-decoration: none;
    }
    h5 {
      line-height: 1.5;
      font-size: 12px;
      letter-spacing: 1px;
      span {
        color: orangered;
        text-shadow: none;
      }
    }
  }
  .rating {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
    gap: 5px;
    max-width: 95%;
    margin: auto;
    align-items: center;
    padding: 1em 0.5em;
    background-color: var(--bgFilterBlkDrk);
    border-radius: 0.5rem 0.5rem 0 0;
    &__box {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 145px;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 2px;
      //text-shadow: 0px 0px 1px var(--white);
      font-size: 14px;
      h5 {
        font-size: 14px;
        color: var(--white);
      }
    }
  }

  .wrapper {
    // Wrapper contains the Project box
    max-width: 95%;
    margin: auto;
    background-color: var(--bgFilterDrk);

    .projectBox {
      // All code for the Project will inside the Project Box
      margin: auto;
      background-color: var(--inputToggleThemeFilter);
      .tributeBox {
        margin: auto;
        padding: 0.5rem;
        &__video {
          height: 275px;
          margin: auto;
          min-width: 200px;
          max-width: 250px;
          iframe {
            width: 100%;
            height: 100%;
            border-radius: 0.5rem;
          }
        }
      }
    }
  }
}

@media (min-width: 310px) {
}
@media (min-width: 400px) {
  .project {
    &__header {
      &__body {
        width: 85%;
      }
    }
    .rating,
    .links {
      width: 85%;
    }
    .wrapper {
      width: 85%;
    }
  }
}
@media (min-width: 481px) {
  .landing {
    .title {
      padding-top: 2em;
      font-size: 1.25em;
    }
  }
  .project {
    background-size: cover;
    &__header {
      &__body {
        padding-bottom: 15px;
      }
    }
  }
}
@media (min-width: 769px) {
  .project {
    background-size: cover;
    &__header {
      &__body {
        padding-bottom: 15px;
      }
    }
    .rating {
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      gap: 10px;
      &__box {
        width: 140px;
      }
    }
    .links {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
@media (min-width: 1024px) {
  .mainHeader {
    .title {
      padding-top: 0.5em;
      font-size: 3.25em;
    }
  }
  .greeting {
    font-size: 1.2em;
  }
}
@media (min-width: 1200px) {
}
