@use "_global" as *;
@use "_mixin" as *;

// Chapter contains all related projects
.chapter {
  //padding-bottom: 20px;
  min-height: 350px;
  border-top: 3px solid var(--themeBdr);
  // Chapter Header is visable at all times
  &__header {
    &__title {
      padding-top: 60px;
      text-align: center;
      text-shadow: 0px 0px 5px var(--black);
      //background-color: var(--bgFilterDrk);
      letter-spacing: 2px;
      color: white;
      h2 {
        font-size: calc(2vw + 1.5rem);
        margin-bottom: 5px;
      }
      h5 {
        font-size: 12px;
        span {
          color: var(--themeTxtClr);
          text-shadow: none;
          font-size: 16px;
        }
      }
    }
    &__body {
      width: 95%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      justify-content: space-evenly;
      padding-top: 15px;
      //background-color: var(--bgFilter);
      article {
        opacity: .85;
        width: 500px;
        max-width: 80%;
        margin: auto;
        //border: 1px solid yellow;
        padding: 0.5rem;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 1.4;
        color: Var(--black);
        background-image: url("../dist/img/backgrounds/clouds-72634.jpg");
        //background-color: var(--bgFilterBlkDrk);
        box-shadow: inset -3px -3px 5px rgba(83, 83, 83, 0.6),
    inset 3px 3px 5px rgba(202, 202, 202, 0.6);
        border-radius: 0.5rem;
        p {
          padding: .5em .25em;
        }
        span {
          font-family: "Audiowide";
          padding: 1em;
          color: var(--secondaryClr);
          font-size: 18px;
        }
      }
    }
  }
}

// Sections are visable when the Show Button is clicked

.project {
  max-width: 800px;
  margin: auto;
  width: 90%;
  border: none;
  padding: 1rem;
  &__header {
    &__title {
      padding-top: 60px;
      text-align: center;
      text-shadow: 0px 0px 5px var(--black);
      //background-color: var(--bgFilterDrk);
      letter-spacing: 2px;
      color: white;
      h2 {
        font-size: calc(2vw + 1.5rem);
        margin-bottom: 5px;
      }
      h5 {
        font-size: 12px;
        span {
          color: var(--themeTxtClr);
          text-shadow: none;
          font-size: 16px;
        }
      }
    }
    &__body {
      width: 95%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      justify-content: space-evenly;
      padding-top: 15px;
      //background-color: var(--bgFilter);
      article {
        width: 275px;
        margin: auto;
        border: 1px solid var(--black);
        padding: 0.25rem;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 2px;
        color: Var(--black);
        background-color: var(--bgFilterTheme);
        border-radius: 0.5rem;
        h3{
          color: orangered;
        }
        span {
          color: orangered;
          font-weight: 900;
          //text-shadow: 0px 0px 4px var(--black);
        }
      }
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    background-color: var(--bgFilterBlkDrk);
    margin: auto;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0.25rem 0.15rem;

    a {
      text-decoration: none;
    }
    h5 {
      line-height: 1.5;
      font-size: 12px;
      letter-spacing: 1px;
      span {
        color: orangered;
        text-shadow: none;
      }
    }
  }
  .rating {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
    gap: 5px;
    max-width: 95%;
    margin: auto;
    align-items: center;
    padding: 1em 0.5em;
    background-color: var(--bgFilterBlkDrk);
    border-radius: 0.5rem 0.5rem 0 0;
    &__box {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 145px;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 2px;
      //text-shadow: 0px 0px 1px var(--white);
      font-size: 14px;
      h5 {
        font-size: 14px;
        color: var(--white);
      }
    }
  }

  .wrapper {
    // Wrapper contains the Project box
    max-width: 95%;
    margin: auto;
    background-color: var(--bgFilterDrk);

    .projectBox {
      // All code for the Project will inside the Project Box
      margin: auto;
background-color: var(--inputToggleThemeFilter);
      .tributeBox {
        margin: auto;
        padding: 0.5rem;
        &__video {
          height: 275px;
          margin: auto;
          min-width: 200px;
          max-width: 250px;
          iframe {
            width: 100%;
            height: 100%;
            border-radius: 0.5rem;
          }
        }
      }
    }
  }
}

@media (min-width: 310px) {
}
@media (min-width: 400px) {
  .project {
    &__header {
      &__body {
        width: 85%;
      }
    }
    .rating,
    .links {
      width: 85%;
    }
    .wrapper {
      width: 85%;
    }
  }
}
@media (min-width: 481px) {
  .project {
    background-size: cover;
    &__header {
      &__body {
        padding-bottom: 15px;
      }
    }
    
  }
}

@media (min-width: 700px) {
  .project {
    background-size: cover;
    &__header {
      &__body {
        padding-bottom: 15px;
      }

    }
    .rating {
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      gap: 10px;
      &__box {
        width: 140px;
      }
    }
    .links {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
