@use "utils";
@use "homeWork";
@use "banners";
@use "projects";
@use "imgProjects";
@use "animationProjects";
@use "buttonProjects";
@use "storageProjects";
@use "webPlayerProjects";
@use "uiProjects";
@use "features";


/*
    ** Break Points **

@media screen and (min-width: 310px) {
}
@media screen and (min-width: 400px) {
}
@media screen and (min-width: 481px) {
}
@media screen and (min-width: 715px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1200px) {
}
*/

        //  Clip-Path:

/*
        //  Right Chevron Thick
clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

        //  Right Chevron Thin
clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);

        //  left Chevron Thick
clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  
        //  Left Chevron Thin
clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);

        //  left Triangle
clip-path: polygon(50% 0%, 50% 50%, 50% 100%, 0% 50%);

        //  Right Triangle
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 50% 50%);

        //  Octagon
clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

        //  Left Arrow
clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);

        //  RightArrow
clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);

        //  Message box
clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
*/